@font-face {
    font-family: 'Madani-Medium';

    src: url("./fonts/madani-medium.ttf") format(truetype);
}

body{
    height: 100vh;
    background: linear-gradient(342.44deg, #101010 0%, #2F3032 100%);
    margin:0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.big_text{

font-family: 'Madani-Medium';
font-style: normal;
font-weight: 400;
font-size:clamp(128.595px,20vw, 227.064px);
line-height: 320px;

background: linear-gradient(90deg, rgba(72, 185, 99, 0.25) 65.53%, rgba(40, 144, 170, 0.25) 93.17%), linear-gradient(90deg, rgba(241, 215, 41, 0.3) 47.2%, rgba(72, 185, 99, 0.3) 63.66%), linear-gradient(90deg, rgba(231, 123, 31, 0.6) 30.43%, rgba(241, 215, 41, 0.378) 47.52%), linear-gradient(90deg, #DB171E 5.38%, #E77B1F 20.81%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

opacity: 0.1;
}
@media (max-width: 700px){
  
.big_text{
    width: 350px;
    overflow: hidden;

}
}
.small{
    position: absolute;

font-family: 'Madani-Medium';
font-style: normal;
font-weight: 400;
font-size: 41.7544px;
line-height: 59px;
/* identical to box height */


background: linear-gradient(90deg, rgba(72, 185, 99, 0.25) 65.53%, rgba(40, 144, 170, 0.25) 93.17%), linear-gradient(90deg, rgba(241, 215, 41, 0.3) 47.2%, rgba(72, 185, 99, 0.3) 63.66%), linear-gradient(90deg, rgba(231, 123, 31, 0.6) 30.43%, rgba(241, 215, 41, 0.378) 47.52%), linear-gradient(90deg, #DB171E 5.38%, #E77B1F 20.81%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}
